[Unit]
Description=PiCaterpillar gunicorn daemon

[Service]
Type=simple
User=www-data
ExecStart=/var/www/PiCaterpillar/run_server.sh

[Install]
WantedBy=multi-user.target
