[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python-headless = "*"
smbus = "*"
pyserial = "*"
pyttsx3 = "*"
pillow = "*"
fake-rpi = {version = "*",platform_machine = "!= 'aarch64'"}
pygame = "*"
sqlalchemy = "*"
prettytable = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
