[Unit]
Description=PiRobot Daemon

[Service]
Environment=PIROBOT_CONFIG_ROOT=/etc/pirobot/config
Restart=always
Type=simple
User=www-data
ExecStart=/usr/local/bin/pirobotd runserver

[Install]
WantedBy=multi-user.target
