[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
smbus = {version = "*",sys_platform = "!= 'darwin'"}
fake-rpi = {version = "*",sys_platform = "== 'darwin'"}
django-cors-headers = "*"
opencv-python-headless = "*"
picamera = "*"
"rpi.gpio" = "*"
spidev = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
