[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
smbus = {version = "*",sys_platform = "!= 'darwin'"}
fake-rpi = {version = "*",sys_platform = "== 'darwin'"}
django-cors-headers = "*"
opencv-python-headless = "*"
picamera = {version = "*",sys_platform = "!= 'darwin'"}
"rpi.gpio" = {version = "*",sys_platform = "!= 'darwin'"}
spidev = {version = "*",sys_platform = "!= 'darwin'"}
pillow = "*"
matplotlib = {version = "*",sys_platform = "== 'darwin'"}
pyttsx3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
